img{
    width: 200px;
}

#fantasma{
    width: 100px;
}

.config{
    background-color: aquamarine;
    display: flex;
    margin-bottom: 50px;
}

.itens-extremidades{
    justify-content: space-between;
}

.itens-around{
    justify-content: space-around;
}

.itens-center{
    justify-content: center;
}

.itens-lateral{
    justify-content: flex-end;
}

.amarelo{
    background-color: yellow;
}

.grupo-espacado{
    display: flex;
    justify-content: space-around;
    width: 960px;
}

.bloco-itens{
    height: 960px;
    justify-content: space-between;
    flex-direction: column;
}

.grupo-menor{
    width: 340px;
}

.grupo-maior{
    width: 550px;
}

.bloco{
    height: 960px;
    justify-content: space-between;
    flex-direction: column;
}

.linha{
    background-color: rgb(197, 114, 245);
    display: flex;
    justify-content: space-between;
}